* {
    --main-color: #000000FF;
    --secondary-color: #fff;
    --main-bg-color: #fff;
    --secondary-bg-color: #ffc244;
    --tertiary-bg-color: #00a082;
    --tertiary-bg-color-hover: #00846BFF;

    --footer-color: #fff;
    --footer-bg-color: #1d1d1d;

}
html {
    min-height: 100svh;
}
body {
    color: var(--main-color);
    background-color: var(--main-bg-color);
    min-width: 357px;
    min-height: 100svh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-bg-color);
    font-family: Franklin Gothic Medium, serif;
    user-select: none;
    /* margin-bottom: 25px; */
}
header .part {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    transition: 0.3s;
}

header .part.search-and-login {
    width: 50%;
}
header .title {
    font-size: 23px;
    font-weight: bold;
    color: var(--footer-bg-color);
    letter-spacing: 1px;
    margin-left: 15px;
}

header .log-in-btn {
    width: 100px;
    height: 30px;
    margin: 0 10px;
    padding: 2px 10px;
    color: var(--secondary-color);
    background-color: var(--tertiary-bg-color);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: default;
    transition: .1s;
}
header .log-in-btn:hover {
    background-color: var(--tertiary-bg-color-hover);
}

h1,
h2{
    text-align: center;
}


main {
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    padding: 10px;

    display: flex;
    flex: 5;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
main nav{
    width: max(10%, 210px);
    padding: 0 0 0 20px;
}
main nav .title{
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: var(--tertiary-bg-color);
    margin-bottom: 20px;
}
main nav ul.nav{
    width: 100%;
    max-width: 100vh;
    padding: 0;
    position: sticky;
    top: 97px;
}
main nav ul.nav a{
    color: var(--main-color);
    text-decoration: none;
}
main nav ul.nav a:hover{
    color: var(--tertiary-bg-color);
    text-decoration: none;
}

main nav ul.nav li{
    width: 100%;
    height: 40px;
    font-size: 20px;
}
main nav ul.nav li{
    width: 100%;
    height: 40px;
    font-size: 20px;
    list-style: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.52);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    user-select: none;
    transition: 0.05s;
}
main nav ul.nav li:first-child{
    margin-top: 15px;
}
main nav ul.nav li:hover{
    background-color: rgba(204, 204, 204, 0.1);
}
main nav ul.nav li::marker{
    display: none;
    padding: 0;
    margin: 0;
}
section.feed {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 35px 0 20px;
    max-width: 666px;
}
section.feed header {
    background-color: var(--main-bg-color);
}
section.feed a {
    color: var(--main-color);
    text-decoration: none;
}

article.category-card {
    max-width: 666px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    border-color: rgba(72, 95, 110, 0.07);
    border-style: outset;
    margin: 0 20px 10px 20px;
    padding: 10px 0;
    user-select: none;

}
article.category-card img {
    max-width: calc(100% - 20px);
    max-height: 160px;
    border-radius: 10px;
    margin-right: 10px;
}
article.category-card .title {
    max-width: 100%;
    text-align: center;
    font-size: large;
    padding: 10px 0;
    margin-left: 10px;
}










.sticky {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    position: sticky;
    top: 0px;
    z-index: 5;
    padding: 0px 15px 3px 15px;
    transition: 0.3s;
    max-width: calc(100% - 15px);
}
.main-search {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    max-width: 980px;
    padding: 0 20px;
    /*margin: 0 auto 30px 15px;*/
}
.main-search input {
    width: 100%;
    height: 100%;
    border: 0;
    outline:none;
    user-select: all;
    background-color: transparent;
    font-size: 18px;
}
.main-search button[type="submit"].magnifying-glass {
    border: 0;
    outline:none;
    background-color: transparent;
}
.menu {

    width: auto;
    height: 40px;
    padding: 5px;
    color: var(--secondary-color);
    background-color: var(--tertiary-bg-color);
    border-radius: 20px;

    justify-content: center;
    align-items: center;
    margin: 0;
    display: none;
}



.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}





.row50 {
    width: 100%;
    height: 50px;
    background-color: var(--secondary-bg-color);
}
.semicircle {
    width: 100%;
    height: 100%;
    border-radius: 100% 0 0 0;
}
.semicircle.reverse{
    border-radius: 0 0 80% 20%;
}

footer {
    width: 100%;
    min-height: 100px;
    color: var(--footer-color);
    background-color: var(--footer-bg-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.p404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}
.p404 h1 {
    font-size: 80px;
    font-weight: bold;
    padding: 0;
    margin: 10px 0;
}
.p404 a.home {
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    color: var(--main-color);
}






section.auth {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    width: calc(100% - 30px);
    height: 100%;
    padding: 0 15px;
}
section.auth h1{
    text-align: center;
}
section.auth form {
    display: flex;
    flex-direction: column;
    width: min(300px, 100%);
    max-width: 100%;
    margin: 0 auto;
}
section.auth form .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
section.auth form .row input{
    width: 100%;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
section.auth form .row input:first-child{
    margin-left: 0;
    margin-right: 5px;
}
section.auth form .row input:last-child{
    margin-left: 5px;
    margin-right: 0;
}
section.auth form input {
    margin: 5px 0;
    padding: 5px 15px;
    outline: none;
    max-width: 100%;
    height: 20px;
    border: 2px rgba(72, 95, 110, 0.3) outset;
    border-radius: 20px;
}
section.auth form button[type="submit"] {
    margin: 5px 0;
    padding: 7px 10px;
    font-size: 18px;
    color: var(--secondary-color);
    background-color: var(--tertiary-bg-color);

    border: 2px rgba(72, 95, 110, 0.3) outset;
    border-radius: 20px;
}
section.auth form button[type="submit"]:hover {
    background-color: var(--tertiary-bg-color-hover);
}
.aunt-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.aunt-actions a{
    margin: 10px;
    color: var(--tertiary-bg-color)
}






.user-address,
.user-restore,
.user-profile {
    width: 100%;
    max-width: calc(100%- 20px);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-address .data-form,
.user-restore .data-form,
.user-profile .data-form {
    max-width: calc(100%- 20px);
    display: flex;
    flex-direction: column;
    border: 5px solid var(--secondary-bg-color);
    border-radius: 20px;
    padding: 15px;
    transition: 0.2s;
}
.user-address .data-form label,
.user-restore .data-form label,
.user-profile .data-form label{
    padding: 2px 10px;
}
.user-address .data-form input,
.user-restore .data-form input,
.user-profile .data-form input{
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid var(--secondary-bg-color);
}
.user-address .data-form .profile-password,
.user-restore .data-form .profile-password,
.user-profile .data-form .profile-password,
.user-profile .data-form .profile-telegram_id{
    display: none;
}
.user-address .data-form button,
.user-restore .data-form button,
.user-profile .data-form button {
    border: 2px solid var(--tertiary-bg-color);
    background-color: var(--tertiary-bg-color);
    color: var(--main-bg-color);
    padding: 5px 0;
    border-radius: 10px;
    margin-top: 5px;
}
.user-address .data-form button:hover,
.user-restore .data-form button:hover,
.user-profile .data-form button:hover {
    background-color: var(--tertiary-bg-color-hover);
}



.user-address ul {
    list-style: none;
    padding: 0;
}
.user-address ul.address-list{
    display: flex;
    flex-direction: column;
    border: 5px solid var(--secondary-bg-color);
    margin-bottom: 10px;
    padding:  5px 10px;
    border-radius: 20px;

}
.user-address ul.address-list ul {
    border: 2px solid var(--secondary-bg-color);
    border-radius: 10px;
    margin: 5px 0;
}
.user-address ul.address-list ul li{
    display: flex;
    padding: 2px 10px;
    border-radius: 10px;


}





section.product img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}
section.product .title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

section.product .description{
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: #00000015;
}



section.product .parametrs {
    padding: 0;
    margin-left: 20px;
}
section.product .parametrs li {
    display: flex;
}
section.product .parametrs li .value{
    color: var(--tertiary-bg-color);
    font-weight: bold;
    margin: 0 5px;
}




section.forms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    margin: 0 auto;
}
section.forms form {
    max-width: 320px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border: 2px rgba(72, 95, 110, 0.3) outset;
    border-radius: 20px;
    padding: 10px 10px 5px 10px;
    margin: 0 auto 5px auto;

}
section.forms form .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px
}
section.forms form label {
    padding: 0;
    margin: 0 10px 0 0;
}
section.forms form select,
section.forms form input {
    padding: 0;
    margin: 5px 0;
    min-height: 20px;
    font-size: 16px;
    border: 2px rgba(72, 95, 110, 0.3) outset;
    border-radius: 10px;
}
section.forms form input[type='checkbox'] {
    width: 20px;
    height: 20px;
}
section.forms form input[type='submit'] {
    height: 30px;
    margin: 5px 0;
    color: var(--secondary-color);
    background-color: var(--tertiary-bg-color);

    border: 2px rgba(72, 95, 110, 0.3) outset;
    border-radius: 10px;

}
section.forms form input[type='submit']:hover {
    background-color: var(--tertiary-bg-color-hover);
}

section.forms form input[type='button'] {
    height: 20px;
    margin: 10px 0;
    padding: 0;
}
section.forms form .row {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    align-items: center;
}


@media only screen and (max-width: 880px) {
    header .part .logo {
        margin-top: 24px;
    }

    header .title {
        font-size: 18px;
    }
    main nav{
        width: 100%;
        padding: 0 20px;
        display: none;
    }
    section.feed {
        max-width: 100%;
        padding: 0 5px;
    }
    .menu {
        display: flex;
        border-radius: 0 20px 20px 0;
    }
    .main-search {
        width: 100%;
        border-radius:  20px 0 0 20px ;
        max-width: 100%;
        margin: 0;
    }
    .sticky {

        padding: 0 0 0 7px;

    }


    article.category-card {
        max-width: 666px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border-color: rgba(72, 95, 110, 0.07);
        border-style: outset;
        /* margin: 0 20px 10px 20px; */
        /* padding: 10px 0; */
    }
    article.category-card img {
        max-width: 100%;
        border-radius: 20px;
        padding: -10px;
        margin: 0;
        margin-top: -9px;
        z-index: 1;
    }
    article.category-card .title {
        max-width: 100%;
        text-align: center;
        font-size: large;
        padding: 10px 0;
    }


    .user-profile .data-form {
        max-width: calc(100%- 20px);
    }
}
@media only screen and (max-width: 600px) {

    header .title {
        margin-top: 10px;
        font-size: 16px;
    }

    article.category-card img {
        width: 100%;
        height: auto;

    }
}
