{% extends 'base.html' %}

{% block content %}
    <div class="current_order">
        <h2>Твоя корзинка</h2>

        {% if order %}
            <ul class="cart-products">
                {% for product in order %}
                    <a class="" href="{{ url_for('menu.menu_dish', category_slug=product.Category.slug, dish_slug=product.Dish.slug) }}">
                    <li class="cart-product">
                        <img src="{{ product.Dish.photo }}" alt="">
                        <div>
                            <h3>{{ product.Dish.name }} x{{ product.OrderDish.quantity }}</h3>
                            <div class="price">{{ product.Dish.price }} за позицию</div>
                            {% if product.Dish.price != product.Dish.price * product.OrderDish.quantity %}
                                <div class="price_total">{{ product.Dish.price * product.OrderDish.quantity }}</div>
                            {% endif %}
                            {% include 'inc/_product_btns.html' %}
                        </div>
                    </li>
                    </a>
                {% endfor %}
            </ul>

            {% if user_address_list %}
                <h2>Выберите адрес доставки</h2>
                <form method="post" action="{{ url_for('cart.cart_order') }}" class="make-order">
                    <select name="address_id" required>
                        {% for address in user_address_list %}
                            <option value="{{ address.id }}">
                                <div>{{ address.city }},</div>
                                <div>{{ address.street }}</div>
                                <div>{{ address.house }}</div>

                                {% if address.apartment %}
                                    <div>| Квартира: {{ address.apartment }}</div>
                                {% endif %}

                                {% if address.entrance %}
                                    <div>| Подъезд: {{ address.entrance }}</div>
                                {% endif %}

                                {% if address.floor %}
                                    <div>| Этаж: {{ address.floor }}</div>
                                {% endif %}

                            </option>
                        {% endfor %}
                    </select>
                    <textarea name="comment" id="comment" placeholder="Комментарий к заказу"></textarea>
                    <button type="submit" class="submit">Сделать заказ!</button>
                </form>

            {% else %}
                <h2>У вас нет адреса доставки</h2>
                <a href="{{ url_for('user.user_address_list', next=url_for('cart.cart_index')) }}" class="submit">Добавить</a>
            {% endif %}


        {% else %}
            <h3 style="text-align: center;">пустая</h3>
            <a href="{{ url_for('menu.menu_index') }}" style="text-align: center;">К покупкам!</a>
        {% endif %}

    </div>
{% endblock %}