{% extends 'base.html' %}

{% block content %}
    <div class="current_order">
        <h2>Твоя корзинка</h2>

        {% if order %}
            <ul class="cart-products">
                {% for order_item in order %}
                    <li class="cart-product">
                        <img src="{{ order_item.Dish.photo }}" alt="">
                        <div>
                            <h3>{{ order_item.Dish.name }} x{{ order_item.OrderDish.quantity }}</h3>
                            <div class="price">{{ order_item.Dish.price }} за позицию</div>
                            {% if order_item.Dish.price != order_item.Dish.price * order_item.OrderDish.quantity %}
                                <div class="price_total">{{ order_item.Dish.price * order_item.OrderDish.quantity }}</div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3 style="text-align: center;">пустая</h3>
            <a href="{{ url_for('menu.menu_index') }}" style="text-align: center;">К покупкам!</a>
        {% endif %}

    </div>
{% endblock %}