{% extends 'base.html' %}

{% block content %}
<section class="product">
    <img src="{{ product.photo }}" alt="">
    <div class="title">{{ product.name }}</div>
    <ul class="parametrs">
        <p>Состав порции:</p>
        <li>Вес: <div class="value">{{ product.weight }}</div> грамм</li>
        <li>Калории: <div class="value">{{ product.calories }}</div> ккал</li>
        <li>Белки: <div class="value">{{ product.protein }}</div> грамм</li>
        <li>Жиры: <div class="value">{{ product.fat }}</div> грамм</li>
        <li>Углеводы: <div class="value">{{ product.carbohydrates }}</div> грамм</li>

    </ul>

    <div class="description">{{ product.description }}</div>
</section>
{% endblock %}
