{% extends 'base.html' %}

{% block content %}
    <section class="auth">
        <h1>{{ title }}</h1>
        <form method="post" action="{{ url_for('user_register') }}">
            <input type="text" placeholder="Имя" name="first-name">
            <input type="email" placeholder="Email" name="email">
            <input type="tel" placeholder="Телефон +380 YY XXX XX XX" name="phone" pattern="(\+?3?8?0?)?[\s-]?\d{2}[\s-]?\d{3}[\s-]?\d{2}[\s-]?\d{2}" title="Введите номер в формате: +380 YY XXX XX XX">
            <input type="password" placeholder="Введите пароль" name="password1">
            <input type="password" placeholder="Подтвердите пароль" name="password2">

            <button type="submit">Зарегистрироваться</button>
        </form>

        <div class="aunt-actions">
            <a href="{{ url_for('user_sign_in') }}">Есть аккаунт?</a>
        </div>

        {% if get_flashed_messages() %}
            <ul class="form-messages">
              {% for category, message in get_flashed_messages(True) %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
        {% endif %}

    </section>
{% endblock %}