{% extends 'base.html' %}

{% block content %}
    <section class="user-restore">
    <h1>{{ title }}</h1>
    <form class="data-form" method="post" action="{{ url_for('user_restore') }}">

        <label class='profile-phone' for="phone">Твой телефон:</label>
        <input class='profile-phone' name="phone" type="text">

        <label class='profile-email' for="email">Твоя почта:</label>
        <input class='profile-email' name="email" type="email">

        <button type="submit">Восстановить</button>
    </form>
    {% if get_flashed_messages() %}
        <ul class="form-messages">
          {% for category, message in get_flashed_messages(True) %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
    {% endif %}
    </section>
{% endblock %}